* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}
main {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.form {
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form input {
  border-radius: 8px;
  border: 1px solid lightgray;
  flex-grow: 1;
  padding: 10px 15px;
}

.btn {
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}
.add-todo {
  border: 1px solid lightgray;
}

.buttons {
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.delete-all,
.reset-all {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-all {
  background-color: #d83f31;
}
.reset-all {
  background-color: #9ee493;
}
